<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our Team</title>
    <link rel="icon" type="image/x-icon" href="/images/lnmid.svg">
    <link rel="stylesheet" href="/css/developedby.css">
  </head>
  <body>
    <div class="main"> 
      <div class="heading">Our Team</div>
        <div class="ourTeam">
          <div class="team">
            <div >
              <img class="jain" src="/images/jain.jpg" />
            </div>
            <div class="name"><div>Pranjal Jain</div><div>Project Manager</div></div>
          </div>
          <div class="team">
            <div>
              <img  class="mishra"g src="/images/mishra.jpg" />
            </div>
            <div class="name"><div>Pranjal Mishra</div><div>Frontend Developer</div></div>
          </div>
          <div class="team">
            <div >
              <img class="rai" src="/images/rai.jpg" />
            </div>
            <div class="name"><div>Vaibhav Rai</div><div>Backend Developer</div></div>
          </div>
          <div class="team">
            <div >
              <img class="khammu" src="/images/khamesra.jpg" />
            </div>
            <div class="name"><div>Vaibhav Khamesra</div><div>Tester and Architect</div></div>
          </div>
          <div class="team">
          <div >
            <img class="bansal" src="/images/bansal.jpg" />
          </div>
          <div class="name"><div>Pranjal Bansal</div><div>Developer and Documentation</div></div>
        </div>
        </div>
        <button class="button" onclick="window.location.href='/admin/home'">
          <span class="spot"></span>Go to home
        </button>
    </div>
  </body>
</html>
