@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap');

body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.main 
{
    background-image: url('/images/bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
    margin: -10px;
    overflow-x: hidden;
}

.lnmlogo{
    width:175vh;
    height: 35px;
    background-image: url('/images/lnm_logo.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Poppins', sans-serif;
}

.heading 
{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

.logininput {
    width: 100%;
    /* text-decoration: #000000; */
    text-decoration: solid;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding: 25px;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: #c50248;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    border-radius: 14px;
    border: 2px solid rgba(124, 228, 197, 0.24);
    background: rgba(197, 2, 72, 0.8);
    backdrop-filter: blur(48.5px);
    color: black;
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
  ::placeholder 
  {
    color: black;
    font-size: 15px;
  }

.container1 
{

    width: 80%;
    height: 70vh;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.image 
{
    width: 225px;
    height: 225px;
    border-radius: 100%;
    background-color: white;
    /* background-image: url('../../../public/images/image_3.png'); */
}

.content 
{
    color: white;
    width: 100vh;
    height: 60vh;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* border: 3px solid rgba(255, 255, 255, 0.15); */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button 
{
    width: 312px;
    height: 84px;
    background-color: #C50248;
    border-radius: 86.35px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.25rem;
    border: none;
    text-decoration: none;
    margin: 5% 0;

}

.container2
{
    width: 80%;
    min-height: 90vh;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDiv 
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.user_details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



/* it is teh registration successfull popup */

.success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EDFBD8;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
  }
  
  .success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .success__icon path {
    fill: #84D65A;
  }
  
  .success__title {
    font-weight: 500;
    font-size: 14px;
    color: #2B641E;
  }
  
  .success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .success__close path {
    fill: #2B641E;
  }

  /* scrollbar */

  .body{
    mask-image: linear-gradient(to top, transparent, black),
        linear-gradient(to left, transparent 7px, black 7px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
        linear-gradient(to left, transparent 7px, black 7px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  }
  
  :hover {
    -webkit-mask-position: left top;
  }
  
  ::-webkit-scrollbar{
    width: 7px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #4e4e4e;
    border-radius: 9px;
  }