body{
  overflow-x: hidden;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
  }
  
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: rotate(0deg) scale(0.8);
    }
  
    50% {
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
    }
  
    100% {
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
  
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
  
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
  
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
  
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }

  #loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* padding-left: 42%; */
    /* padding-top: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    /* display: none; */
}


/* mianscreen */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap');

.main 
{
    background-image: url('/images/bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
    margin: -10px;
    overflow-x: hidden;
    color: white;
}

.lnmlogo{
    width:175vh;
    height: 35px;
    background-image: url('/images/lnm_logo.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Poppins', sans-serif;
}

.heading 
{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}


.container1 
{
    width: 80%;
    height: 70vh;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.image 
{
    width: 225px;
    height: 225px;
    border-radius: 100%;
    background-color: white;
    /* background-image: url('../../../public/images/image_3.png'); */
}

.content 
{
    color: white;
    /* width: 100vh; */
    min-height: 100vh;
    height: auto;
    /* background: rgba(255, 255, 255, 0.09); */
    /* border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* border: 3px solid rgba(255, 255, 255, 0.15); */
    /* border-radius: 15px; */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* border: 2px solid white; */
}

.button 
{
    width: 312px;
    height: 84px;
    background-color: #C50248;
    border-radius: 86.35px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.25rem;
    border: none;
    text-decoration: none;
    margin: 5% 0;

}

.container2
{
    width: 80%;
    min-height: 90vh;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDiv 
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.develop{
  color:white;
  width: 100px;
}

.heading1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekdays{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
th
{
  border: 2px solid white;
  border-right: none; 
}

td{
  text-align: center;
   border: 2px solid white;
   /* border-bottom: none; */
  /* border-left: none;*/ 
  /* border-right: none;  */
}

br{
  width: 100%;
  color: white;
  border: 2px solid white;
}
/* scrollbar */

.body{
  mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 7px, black 7px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 7px, black 7px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

:hover {
  -webkit-mask-position: left top;
}

::-webkit-scrollbar{
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background-color: black;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar-thumb{
  background: #4e4e4e;
  border-radius: 9px;
}
button{
  width: 250px;
    height: 70px;
    background-color: #C50248;
    border-radius: 86.35px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.25rem;
    border: none;
    text-decoration: none;
    margin: 5% 0;
}