<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/verify_mail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
    <link rel="icon" type="image/x-icon" href="/images/lnmid.svg">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="lnmlogo"></div>
            <div class="develop"><a href="/developedBy" >Developed By ISDL Team </a></div>
          </div>
          <h1 class="heading"><a >Notification</a></h1>
    <div class="Loginform">
        <br><br>
        <h2 style="text-align: center;font-size:larger; color: white;">Your email has</h2>
        <h2 style="text-align: center;font-size:larger; color: white;">been verified</h2>

    </div>
    <button class="button"><a href="/login"><span class="spot"></span>Go to login</a></button>
</div>
</body>

</html>