<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="/css/forgot_email.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot-Passowrd</title>
    <link rel="icon" type="image/x-icon" href="/images/lnmid.svg">
    <script>
      
        function validatePassword() {
          const password = document.getElementById("password").value;
  
          // Define your password requirements
          const hasMinimumLength = password.length >= 8;
          const hasSpecialCharacter = /[!@#$%^&*(),.?":{}|<>]/.test(password);
          const hasDigit = /\d/.test(password);
  
          // Check if the password meets the requirements
          if (hasMinimumLength && hasSpecialCharacter && hasDigit) {
            document.getElementById("passwordError").innerText = "";
          } else {
            document.getElementById("passwordError").innerText =
              "At least 8 characters long \nat least one special character\n at least one digit.";
          }
        }
        
      </script>
    
</head>
<body>
    <div class="main">
    <div class="navbar">
        <div class="lnmlogo"></div>
        <div class="develop"><a href="/developedBy" >Developed By ISDL Team </a></div>
    </div>
    <h1 class="heading">Login in your account</h1>
    <form action="/forget-password" method="post">
       
            <!-- <label for="password">Password</label> -->
            <input
                type="password"
                class="logininput"
                id="password"
                name="password"
                oninput="validatePassword()"
                placeholder="Enter password"
                required
                />
                <span id="passwordError" style="color: red"></span>
            <input type="hidden" name="user_id" value="<%=user_id%>">
            <br>

                <input class="button" type="submit" value="Reset Password">
            
    </form>
</div>

<% include('../layouts/footer.ejs') %>
</body>
</html>

