<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reverification.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable</title>
    <link rel="icon" type="image/x-icon" href="/images/lnmid.svg">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="lnmlogo"></div>
            <div class="develop"><a href="/developedBy" >Developed By ISDL Team </a></div>
          </div>
    <div class="Loginform">

        <h1 class="heading" id="heading">Verification</h1>

        <% if(typeof message !=='undefined' ){ %>
            <h4 id="servermsg">
                <%= message %>
            </h4>
            <% } %>
                <br>
                <form action="" method="post">

                    <input class="logininput" type="email" name="email" required placeholder="Enter email">

                    <br><br>
                    <input type="submit" class="button" value="Send Verification link">

                </form>

                <button class="button"><a href="/login"><span class="spot"></span>Go to login</a></button>
    </div>
</div>
</body>
</html>


    <% include('../layouts/footer.ejs') %>